{% extends 'base.html' %}
{% load static %}
{% block tittle %}Rex Home {% endblock %}

{% block main %} 
<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1672" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/787/Accreditations.png&quot;); background-position: 47.66% 47.85%;">
  </section>
    <div class="oe_structure"></div>
    <div class="oe_structure">
      <section>
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="s_title col-lg-11 offset-lg-1 pt32" style="text-align: center;">
              <h3 class="s_title_default t_title_default" style="text-align: left; ">
                <font style="" class="text-alpha">ACCREDITATIONS</font>
              </h3>
            </div>
          </div>
        </div>
      </section>
      <section class="s_text_block">
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 pt32 pb32 col-lg-10">
              <p class="lead o_default_snippet_text" style="text-align: justify; ">Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius. Duis meis quas vim ex, ius no oblique phaedrum.</p>
              <p class="o_default_snippet_text" style="text-align: justify;"><b class="o_default_snippet_text">Lorem ipsum dolor sit amet.</b> Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius. Duis meis quas vim ex, ius no oblique phaedrum pertinacia. Ornatus referrentur nec cu, dicam dolore vivendum ne mea. Usu bonorum inermis efficiantur ad, nec at detracto repudiandae, erat denique percipit at est.</p>
              <p class="o_default_snippet_text" style="text-align: justify;"><b class="o_default_snippet_text">Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius.</b> Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius. Duis meis quas vim ex, ius no oblique phaedrum pertinacia. Ornatus referrentur nec cu, dicam dolore vivendum ne mea,</p>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns bg-white oe_custom_bg">
        <div class="container">
          <div class="row d-flex aos-init align-items-stretch" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/oshad">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/789/OSHAD.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip556230"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">OSHAD</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/791/OSHA.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip979347"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">OSHA ACADEMY</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/activet">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/793/ACTVET.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip28029"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">ACTIVET</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/bcsp">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/795/BCSP.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip114616"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">BCSP </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/highfield">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/797/HIGHFIELD.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip422972"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">HIGHFIELD </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns bg-white oe_custom_bg" style="">
        <div class="container">
          <div class="row d-flex aos-init align-items-stretch" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/799/IEMA.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">IEMA</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/cieh">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/801/CIEH.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip696772"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">CIEH </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/iosh">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/803/IOSH.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip410526"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">IOSH </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/nebosh">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/805/NEBOSH.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip394618"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">NEBOSH </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/irca">
                    <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/807/BASCIC:IRC.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip388448"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">BSCIC </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns bg-white oe_custom_bg" style="">
        <div class="container">
          <div class="row d-flex aos-init align-items-stretch" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/809/TEEX.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">TEEX</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/811/NSC.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip912578"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">NATIONAL SAFETY COUNCIL </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/813/NASP.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip39769"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">NASP </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/815/NFPA.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip642196"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">NFPA </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/817/SCAFOLD.jpg" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip298890"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">SCAFOLD TRAINING INSTITUTE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="oe_structure">
        <div class="oe_structure">
          <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 pb24">
                  <h3>
                    <b>
                      <font class="text-epsilon" style="">DO YOU HAVE ANY INQUIRY?</font>
                    </b>
                  </h3>
                  <p class="lead">
                    <font class="text-epsilon" style="">LET US HELO YOU WITH YOUR REQUIREMENTS</font>
                  </p>
                </div>
                <div class="col-lg-3 s_btn text-right pt8 pb24">
                  <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i> </a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>
  {% endblock %}