{% extends 'base.html' %}
{% load static %}
{% block tittle %}Rex Home {% endblock %}

{% block main %} 
<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="2154" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <div class="oe_structure">
      <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/877/CLIENTS.png&quot;); background-position: 51.72% 54.59%;"> </section>
    </div>
    <div class="oe_structure">
      <section>
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="s_title offset-lg-1 col-lg-10 pt32" style="text-align: center;">
              <h3 class="s_title_default t_title_default" style="text-align: left; ">
                <font style="" class="text-alpha">OUR CLIENTS</font>
              </h3>
            </div>
          </div>
        </div>
      </section>
      <section class="s_text_block">
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 pt32 pb32 col-lg-10">
              <p class="lead o_default_snippet_text" style="text-align: justify; ">Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius. Duis meis quas vim ex, ius no oblique phaedrum.</p>
              <p class="o_default_snippet_text" style="text-align: justify; "><b class="o_default_snippet_text">Lorem ipsum dolor sit amet.</b> Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius. Duis meis quas vim ex, ius no oblique phaedrum pertinacia. Ornatus referrentur nec cu, dicam dolore vivendum ne mea. Usu bonorum inermis efficiantur ad, nec at detracto repudiandae, erat denique percipit at est.</p>
              <p class="o_default_snippet_text" style="text-align: justify; "><b class="o_default_snippet_text">Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius.</b> Lorem ipsum dolor sit amet, eam et reque justo quidam, te est audire persius. Duis meis quas vim ex, ius no oblique phaedrum pertinacia. Ornatus referrentur nec cu, dicam dolore vivendum ne mea,</p>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex aos-init align-items-stretch" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <a href="/oshad">
                    <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/853/Aramco.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip556230"/>
                  </a>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">Aramco</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/855/Saudia.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip195143"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">saudi airlines</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/857/Sabic.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip747342"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">sabic</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/859/6.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip477646"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">royad bank</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/861/Almarai.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip294573"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">almarai</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/863/Abbott.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">abbott</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/881/STC.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">stc</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/883/banksohar.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip359034"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">bank sohar</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/885/HSBC.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip919749"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">HSBC</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/887/Drsulaiman.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip655364"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">Dr. sulaiman al-habib</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr offset-lg-1 col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/893/emirat.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip127834"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">emirates airlines</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/895/eyihad.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip989012"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">etihad airlines</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr   col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/889/payment.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip422386"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">Payment shield</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/927/nation.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip919749"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <span style="font-size: 14px;">nationwide</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/891/3.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip321280"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">Ministryof justice</font>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            
            
            
            
            
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            
            
            
            
            
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/897/merton.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">metron</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/899/Centrica.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip516181"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">centrica</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/901/NIS.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip294573"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">nis</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/903/gcc.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip294573"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">gcc</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/905/smi.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip919749"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">smi</font>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            
            
            
            
            
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/907/arabic.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">riyadh state</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/909/2.png" alt="Odoo - Sample 3 for three columns"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">saudi armee</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/911/tasnee.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip989012"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">tasnee</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/913/Sceramic.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip919749"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">saudi ceramic</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/915/NWC.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip294573"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">nwc</font>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2 offset-lg-1">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/917/SFDA.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">sfda</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/919/binladin.png" alt="Odoo - Sample 3 for three columns"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">binladen group</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/921/Almajoudie.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip919749"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">almajdoue motors</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr  col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/923/AQESA.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip540310"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">aqesa</font>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4 s_col_no_bgcolor ts_img_hvr col-lg-2">
              <div>
                <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
                  <img class="card-img-top img img-responsive feature_image zoom_image img-thumbnail" src="/web/image/925/Experian.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip865233"/>
                </div>
                <div class="card-body">
                  <p class="card-title te_3_column_center_heading three_columns_heading">
                    <font style="font-size: 14px;">experian</font>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="s_three_columns">
        <div class="container">
          <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
            
          </div>
        </div>
      </section>
      <div class="oe_structure">
        <div class="oe_structure">
          <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
            <div class="container">
              <div class="row">
                <div class="col-lg-9 pb24">
                  <h3>
                    <b>
                      <font style="color: rgb(255, 255, 255);">DO YOU HAVE ANY INQUIRY?</font>
                    </b>
                  </h3>
                  <p class="lead">
                    <font style="color: rgb(255, 255, 255);">LET US HELP YOU WITH YOUR REQUIREMENT.</font>
                  </p>
                </div>
                <div class="col-lg-3 s_btn text-right pt8 pb24">
                  <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i> </a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>
  {% endblock %}