{% extends 'base.html' %}
{% load static %}
{% block tittle %}Rex Home {% endblock %}

{% block main %}
<main class="d-flex justify-content-center">
    <div class="userSignIn m-3 flex-column justify-content-center col-sm-5 flex-shrink-0">
        <h2>Sign in </h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            </p>
            {% endfor %}
            <button class="float-right" type="submit">Sign In</button>
            <p class="forgotPassword m-2">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </p>

        </form>
        <div class="border-top pt-3">
            <p>
                Need An Account? <a class="ml-2" href="{% url 'signup_view' %}">Sign Up Now</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}