{% extends 'base.html' %}
{% load static %}
{% block tittle %}Change Password{% endblock %}

{% block main %}
<main class="d-flex justify-content-center">
    <div class="userSignIn m-3 flex-column justify-content-center col-sm-5">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Change Password</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info float-right" type="submit">Change Passoword</button>
            </div>
        </form>
    </div>
</main>
{% endblock main %}
