{% extends "base.html" %}
{% block main %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <p class="account-heading">{{ user.first_name }}</p>
          <p class="text-secondary">{{ user.last_name }}</p>
        </div>
      </div>

      <div class="media">
        <img class="rounded-circle account-img" src="">
        <div class="media-body">
          <h2 class="account-heading">Change Password</h2>
          <button><a href="{% url 'password_change' %}">Change Password</a>
                                                                        </button>
          
        </div>
      </div>


      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Edit Profile Information</legend>
              <fieldset class="form-group">
              <!-- I am looping through the User form, u-form is the UserFrom -->
                {% for field in u_form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
              </fieldset>

              <fieldset class="form-group">
              <!-- I am looping through the Profile form, p-form is the ProfileForm -->
              {% for field in p_form %}
                <p>
                  {{ field.label_tag }}<br>
                  {{ field }}
                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </p>
              {% endfor %}
            </fieldset>
              
             
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>

        <legend class="border-bottom mb-4">Payment Information [Future]</legend>
    </div>
{% endblock main %}