{% extends 'base.html' %}

{% block tittle %}Rex Home {% endblock %}

{% block main %} 

<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1659" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/717/eTraining.png&quot;);"> </section>
    <section class="s_text_block">
      <div class="container">
        <div class="row">
          <div class="pt32 pb32 col-lg-12">
            <h3 class="MsoNormal">
              <b>
                <span style="line-height: 16.406665802001953px;" class="text-alpha">OUR APPROACH</span>
              </b>
            </h3>
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 8pt; line-height: 22px;">
              <span style="line-height: 17px;">
                <font style="font-size: 14px;">Join over more 100 Oil and Gas corporations around the world that are gaining business advantage from adopting Pure Visions and partners e-Learning products and services. Whether your business is exploration, production, oil refining, gas processing, petrochemicals or support services to the Oil and Gas Industry, Pure Visions E-Learning products and services can help you to enhance your workforce competence in many areas including health, safety, environmental and technical subjects.</font>
              </span>
              <span style="line-height: 16px;"></span>
            </p>
            <p></p>
            <p></p>
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 8pt; line-height: 22px;">
              <span style="line-height: 17px;">
                <font style="font-size: 14px;">We are able to achieve this due to our in-depth knowledge of the Oil and Gas Industry, learning and development techniques, compliance and standards, safety imperatives and the day-to-day technical challenges that effect hydrocarbon production and oil and gas processing.&nbsp;</font>
              </span>
            </p>
            <p></p>
            <p></p>
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 8pt; line-height: 22px;">
              <span style="line-height: 19px;">
                <font style="font-size: 14px;">We are covering a broad range of disciplines, with a diverse range of backgrounds.</font>
                <font style="font-size: 18px;">&nbsp;</font>
                <font color="#16365d" face="Abadi MT Condensed Light, sans-serif">
                  <span style="caret-color: rgb(0, 0, 0); font-size: 9.5pt;"></span>
                </font>
              </span>
            </p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section class="s_text_image oe_custom_bg pb24 pt24" style="background-color: rgb(31, 150, 210);">
      <div class="container">
        <div class="row t_text_img_left_right t_zoom_img_effect aos-init align-items-center" data-aos="align-items-center">
          <div class="s_col_no_bgcolor col-lg-6">
            <div class="row t_features_design">
              <div class="col-lg-12" data-name="Box">
                <h4 class="MsoNormal">
                  <span class="text-epsilon" style="font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; line-height: 12.126666069030762px;">Specific disciplines include:</span>
                </h4>
              </div>
              <div class="col-lg-12 pt0 pb0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span class="text-epsilon" style="font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; line-height: 12.126666069030762px; text-indent: 0px;">&nbsp;Instructional Designers</span>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="pt0 pb8 col-lg-12" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">IEx-Industry Offshore Installation Managers</span>
                          <br/>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt0 pb8" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Ex-Industry Safety and Process Experts&nbsp;Professionals&nbsp;</span>
                          <br/>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt0 pb8" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Engineering Professionals&nbsp;</span>
                          <br/>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pb16 pt0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip198434"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <section>
                          <li>
                            <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Trainers, Consultants, Mentors and Facilitators&nbsp;</span>
                            <br/>
                          </li>
                        </section>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pb16 pt0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip198434"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <section>
                          <li>
                            <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Management and Administration Personnel&nbsp;</span>
                            <br/>
                          </li>
                        </section>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="t_img_right t_image_hidden t_img_emp col-lg-6 pt0">
            <div class="t_img_hover_1">
              <img src="/web/image/703/Screenshot%202019-08-25%2016.51.55.png" class="img img-fluid mx-auto" alt="Odoo • Text and Image" data-original-title="" title="" aria-describedby="tooltip320246"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s_text_image oe_custom_bg pt24 pb32" style="background-color: rgb(31, 150, 210);">
      <div class="container">
        <div class="row t_text_img_left_right t_zoom_img_effect align-items-center aos-init" data-aos="align-items-center">
          <div class="t_img_right t_image_hidden t_img_emp pt0 col-lg-5" style="">
            <div class="t_img_hover_1">
              <img src="/web/image/705/Screenshot%202019-08-30%2003.07.13.png" class="img img-fluid mx-auto" alt="Odoo • Text and Image" data-original-title="" title="" aria-describedby="tooltip320246"/>
            </div>
          </div>
          <div class="s_col_no_bgcolor offset-lg-1 col-lg-4">
            <div class="row t_features_design">
              <div class="col-lg-12 pt0 pb0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <section>
                          <li>
                            <span class="text-epsilon" style="font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; line-height: 12.126666069030762px; text-indent: 0px;">&nbsp;Multi-Media Developers</span>
                          </li>
                        </section>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="pt0 pb8 col-lg-12" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Creative Specialists</span>
                          <br/>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt0 pb8" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;3D Modellers</span>
                          <br/>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt0 pb8" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip991927"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <li>
                          <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Project Managers</span>
                          <br/>
                        </li>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pb16 pt0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip198434"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <section>
                          <li>
                            <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;Account Managers</span>
                            <br/>
                          </li>
                        </section>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pb16 pt0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip198434"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <section>
                          <li>
                            <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;IT Specialists&nbsp;</span>
                            <br/>
                          </li>
                        </section>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pb16 pt0" data-name="Box">
                <span class="fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(255, 255, 255); color: rgb(31, 150, 210);" data-original-title="" title="" aria-describedby="tooltip198434"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <ul class="t_left_arrow_2" style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-family: Roboto-Regular, sans-serif; font-size: 14px; font-weight: normal; text-transform: none;">
                      <section>
                        <section>
                          <li>
                            <span style="caret-color: rgb(238, 238, 238); color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 14px; text-indent: 0px;">&nbsp;QA Personnel&nbsp;</span>
                            <br/>
                          </li>
                        </section>
                      </section>
                    </ul>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 t_space_style"> </section>
    <section class="container max_width_4_column">
      <div class="row t_zoom_img_effect">
        <div class="col-lg-4">
          <section class="ts_img_hvr mb16">
            <a class="t_img_hover_overflow" href="#" style="display: block;">
              <img alt="snippets" class="img img-responsive img-fluid mx-auto d-block img_hover_light img-thumbnail" src="/web/image/707/Screenshot%202019-08-26%2018.32.40.png" data-original-title="" title="" aria-describedby="tooltip391586"/>
            </a>
          </section>
          <section class="ts_img_hvr">
            <a class="t_img_hover_overflow" href="#" style="display: block;" data-original-title="" title="" aria-describedby="tooltip959004">
              <img alt="snippets" class="img img-responsive img-fluid mx-auto d-block img_hover_light img-thumbnail" src="/web/image/713/Screenshot%202019-08-26%2018.33.41.png" data-original-title="" title="" aria-describedby="tooltip585972"/>
            </a>
          </section>
        </div>
        <div class="col-lg-4 p-0">
          <div class="text-center px-5 py-3">
            <h3 class="mb16 t_word_brack">
              <font class="text-alpha" style="">E-TRAINING PLATFORM</font>
            </h3>
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 22px; font-size: 11pt; font-family: Calibri, sans-serif; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
              <span style="color: rgb(22, 54, 93); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; line-height: 17px;">The Fastest Path for an Awesome Training.</span>
            </p>
            <p></p>
            <p></p>
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 22px; font-size: 11pt; font-family: Calibri, sans-serif; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
              <span style="color: rgb(22, 54, 93); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; line-height: 17px;">A super-easy, cloud training system to train your employees, partners and customers.</span>
            </p>
            <p></p>
            <p></p>
            <p></p>
            <span style="color: rgb(22, 54, 93); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; line-height: 17px;">
              <br/>
            </span>
            <section>
              <a href="https://purevisions.talentlms.com" class="te_theme_button btn btn-primary" data-original-title="" title="" aria-describedby="tooltip826153"> Know more </a>
            </section>
          </div>
          <section class="ts_img_hvr t_offer_middle_img pb0">
            <a class="t_img_hover_overflow" href="#" style="display: block;">
              <img alt="snippets" class="img img-responsive img-fluid mx-auto d-block img_hover_light img-thumbnail" src="/web/image/711/Screenshot%202019-08-26%2018.33.52.png" data-original-title="" title="" aria-describedby="tooltip364014"/>
            </a>
          </section>
        </div>
        <div class="col-lg-4">
          <section class="mb16 ts_img_hvr">
            <a class="t_img_hover_overflow" href="#" style="display: block;">
              <img alt="snippets" class="img img-responsive img-fluid mx-auto d-block img_hover_light img-thumbnail" src="/web/image/709/Screenshot%202019-08-26%2018.32.55.png" data-original-title="" title="" aria-describedby="tooltip749768"/>
            </a>
          </section>
          <section class="ts_img_hvr">
            <a class="t_img_hover_overflow" href="#" style="display: block;">
              <img alt="snippets" class="img img-responsive img-fluid mx-auto d-block img_hover_light img-thumbnail" src="/web/image/715/Screenshot%202019-08-26%2018.33.30.png" data-original-title="" title="" aria-describedby="tooltip771999"/>
            </a>
          </section>
        </div>
      </div>
    </section>
    <section class="py-5 t_space_style"> </section>
    <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 pb24">
            <h3>
              <b>
                <font style="color: rgb(255, 255, 255);">DO YOU HAVE ANY INQUIRY?</font>
              </b>
            </h3>
            <p class="lead">
              <font style="color: rgb(255, 255, 255);">LET US HELP YOU WITH YOUR REQUIREMENTS</font>
            </p>
          </div>
          <div class="col-lg-3 s_btn text-right pt8 pb24">
            <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>

  {% endblock %}




