{% extends 'base.html' %}

{% block tittle %}Rex Home {% endblock %}

{% block main %} 
<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1669" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/747/Engineering%20mgmt%20consultancy.png&quot;);"> </section>
    <div class="oe_structure">
      <section class="py-5 t_space_style pt8 pb24"> </section>
    </div>
    <section class="s_text_image t_zoom_img_effect pb32 pt0">
      <div class="container">
        <div class="row align-items-center t_text_img_left_right t_zoom_img_effect">
          <div class="pt16 pb16 col-lg-6 offset-lg-1">
            <h3 class="MsoNormal">
              <span style="line-height: 16.406665802001953px;" class="text-alpha">ENGINEERING CONSULTING</span>
            </h3>
            <div class="s_hr text-left pb32 pt8">
              <hr class="border-600 aos-init border-alpha aos-animate s_hr_4px s_hr_solid w-25 mr-auto" data-aos="mr-auto" style="text-align: justify;"/>
            </div>
            <p class="t_content_text" style="text-align: left; ">
              <font style="font-size: 14px; text-align: justify;">We provide expert consulting engineering services for petroleum, chemicals, oil, gas, petrochemical, environmental, high-tech, communication, power and heavy industries in all engineering fields. Services include reliability surveys and improvements, profitability improvement program including energy &amp; yield, equipment consulting (including pressure vessels, heat exchangers, piping, machinery, fired heaters, instrumentation, controls, structures, stacks), risk informed maintenance and inspection planning, turnaround planning, fitness-for-service, project management, heavy lift, oil spill, troubleshooting process operations, plant optimization and process safety management.</font>
              <span style="text-align: justify;">
                <font style="font-size: 14px;">&nbsp;</font>
              </span>
              <br/>
            </p>
            <br/>
          </div>
          <div class="t_img_right t_image_hidden col-lg-4 pt32">
            <div class="t_img_hover_1">
              <img src="/web/image/749/Screenshot%202019-08-25%2018.32.46.png" class="img img-fluid mx-auto img-thumbnail shadow" alt="Odoo • Text and Image" data-original-title="" title="" aria-describedby="tooltip305817"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s_text_image pt32 oe_custom_bg pb24" style="background-color: rgb(31, 150, 210);">
      <div class="container">
        <div class="row align-items-center aos-init" data-aos="align-items-center">
          <div class="t_img_right t_image_hidden offset-lg-1 col-lg-4 pt32">
            <div class="t_img_hover_1">
              <img src="/web/image/751/Screenshot%202019-08-25%2018.32.58.png" class="img img-fluid mx-auto img-thumbnail shadow" alt="Odoo • Text and Image" data-original-title="" title="" aria-describedby="tooltip305817"/>
            </div>
          </div>
          <div class="pt16 pb16 col-lg-6">
            <h3 class="MsoNormal">
              <span style="line-height: 16.406665802001953px;" class="text-epsilon">MANAGEMENT CONSULTING</span>
            </h3>
            <div class="s_hr text-left pb32 pt8">
              <hr class="border-600 aos-init s_hr_4px s_hr_solid w-25 mr-auto border-epsilon aos-animate" data-aos="mr-auto"/>
            </div>
            <p class="MsoNormal" style="margin: 0cm 0cm 8pt; font-family: Roboto-Regular, sans-serif; line-height: 22px; text-align: justify;">
              <span style="line-height: 21px;">
                <font class="text-epsilon" style="font-size: 14px;">Pure Visions works with clients to help identify issues and solve problems using a systematic and creative approach.&nbsp;</font>
              </span>
            </p>
            <p style="font-family: Roboto-Regular, sans-serif; line-height: 27px;"></p>
            <p style="font-family: Roboto-Regular, sans-serif; line-height: 27px;"></p>
            <p class="MsoNormal" style="margin: 0cm 0cm 8pt; font-family: Roboto-Regular, sans-serif; line-height: 22px; text-align: justify;">
              <span style="line-height: 21px;">
                <font class="text-epsilon" style="font-size: 14px;">Pure Visions involvement varies with the nature of the situation and the request of the client. In particular, the assignment may range from ADHOC advice on a particular problem or issue, to the design of comprehensive systems for the client as well as the evaluation and revision of existing systems.&nbsp;</font>
              </span>
            </p>
            <p style="font-family: Roboto-Regular, sans-serif; line-height: 27px;"></p>
            <p style="font-family: Roboto-Regular, sans-serif; line-height: 27px;"></p>
            <p class="MsoNormal" style="margin: 0cm 0cm 8pt; font-family: Roboto-Regular, sans-serif; line-height: 22px; text-align: justify;">
              <span style="line-height: 21px;">
                <font class="text-epsilon" style="font-size: 14px;">After meeting with the client and agreeing the scope of the project, a team of specialized consultants starts working with the client's staff. Together they collect facts and data, which they then analyze using the latest techniques to identify practical solutions. After agreeing on the solutions, they train the client's staff, assist in the implementation and help the client achieve long lasting benefits. The range of consulting services is wide and includes:</font>
                <font style="font-size: 14px;">&nbsp;</font>
              </span>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="s_features_grid pb0 pt32">
      <div class="container">
        <div class="row t_features_design">
          <div class="s_col_no_bgcolor col-lg-5 offset-lg-1">
            <div class="row t_features_design">
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip163321"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Human Resources Management</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip972835"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Training &amp; Manpower Development</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip1150"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Corporate Finance &amp; Investment</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip699702"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Sales &amp; Marketing</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="pt16 pb16 col-lg-9" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip584108"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="text-align: start; line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Improvement Strategies</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-align: start; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="s_col_no_bgcolor col-lg-5 offset-lg-1">
            <div class="row">
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded rounded-circle s_features_grid_icon text-epsilon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip23209"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Strategic Management</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded s_features_grid_icon text-epsilon shadow rounded-circle fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip435235"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Performance Management</font>
                    </span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; font-weight: normal; text-transform: none;"></span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded s_features_grid_icon text-epsilon rounded-circle shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip164148"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Organization Management</font>
                    </span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded s_features_grid_icon text-epsilon rounded-circle shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(255, 255, 255);" data-original-title="" title="" aria-describedby="tooltip102139"></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="line-height: 17.1200008392334px;">
                      <font style="font-size: 14px;">Manpower Efficiency</font>
                    </span>
                    <br/>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 t_space_style pt0"> </section>
    <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 pb24">
            <h3>
              <b>
                <font style="color: rgb(255, 255, 255);">DO YOU HAVE ANY INQUIRY?</font>
              </b>
            </h3>
            <p class="lead">
              <font style="color: rgb(255, 255, 255);">LET US HELP YOU IN YOUR REQUIREMENTS</font>
            </p>
          </div>
          <div class="col-lg-3 s_btn text-right pt8 pb24">
            <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i> </a>
          </div>
        </div>
      </div>
    </section>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>
  {% endblock %}