{% extends 'base.html' %}

{% block tittle %}Rex Home {% endblock %}

{% block main %} 
                <main>
                    
                  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1658" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
                    <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/954/Coaching.png&quot;); background-position: 59.6% 60.59%;"> </section>
                    <section class="py-5 t_space_style oe_custom_bg pt16 pb8"> </section>
                    <div class="oe_structure"></div>
                    <section class="s_banner parallax s_parallax_is_fixed oe_img_bg pt32 pb0" data-scroll-background-ratio="1" style="background-image: none;">
                      <span class="s_parallax_bg oe_img_bg oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/956/BGtry.png&quot;);"></span>
                      <span class="s_parallax_filter"></span>
                      <div class="container">
                        <div class="s_nb_column_fixed t_zoom_img_effect">
                          <div class="col-lg-7 jumbotron pt32 pb32" style="float: left;" data-name="Box">
                            <div class="row">
                              <div class="col-md-6 p-0 col-lg-12">
                                <div class="col-lg-12 s_title s_col_no_bgcolor" data-name="Title" style="background-color: rgb(255, 255, 255);">
                                  <h3 class="MsoNormalCxSpFirst">
                                    <span style="color: rgb(31, 150, 210); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif;">WHAT IS COACHING?</span>
                                  </h3>
                                </div>
                                <div class="col-lg-12 pt8 pb32 s_col_no_bgcolor" data-name="Text">
                                  <h4 style="margin-bottom: 2px;">
                                    Coaching is a process that aims to realize full potential:                      <br/>
                                  </h4>
                                </div>
                              </div>
                              <div class="pb16 col-lg-12 pt0" data-name="Box">
                                <span class="bg-primary fa rounded-circle s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>Individuals</h5>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="bg-primary fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>Companies</h5>
                                </div>
                              </div>
                              <div class="col-md-6 p-0 col-lg-12">
                                <div class="col-lg-12 pt8 pb32 s_col_no_bgcolor" data-name="Text">
                                  <h4 style="margin-bottom: 2px;">
                                    Coaching uses skills and tools to bring about:
                                  </h4>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="bg-primary fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>Awarness</h5>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="bg-primary fa fa-circle-o rounded-circle s_features_grid_icon shadow" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>Action</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5 p-0" style="float: right;">
                            <a href="#">
                              <section class="text-center">
                                <div class="t_img_hover_1" data-original-title="" title="" aria-describedby="tooltip558459">
                                  <img class="img mt16 t_img_height img-responsive img-fluid mx-auto" src="/web/image/960/Screenshot%202019-08-26%2022.50.44.png" data-original-title="" title="" aria-describedby="tooltip414997"/>
                                </div>
                              </section>
                            </a>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_banner parallax s_parallax_is_fixed oe_img_bg pt32 pb32" data-scroll-background-ratio="1" style="background-image: none;">
                      <span class="s_parallax_bg oe_img_bg oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/962/BGleft.png&quot;); background-position: 41.52% 50.41%;"></span>
                      <span class="s_parallax_filter"></span>
                      <div class="container">
                        <div class="s_nb_column_fixed t_zoom_img_effect">
                          <div class="col-lg-7 jumbotron pt32 pb32" style="background-color: rgb(255, 255, 255);float: left;" data-name="Box">
                            <div class="row">
                              <div class="col-md-6 p-0 col-lg-12">
                                <div class="col-lg-12 s_title s_col_no_bgcolor" data-name="Title">
                                  <h3 class="MsoNormalCxSpFirst">
                                    <span style="color: rgb(57, 132, 198); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif;">WHAT ARE THE COACHING TYPES?</span>
                                  </h3>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="fa fa-circle-o rounded rounded-circle s_features_grid_icon shadow" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>External - we coach you</h5>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="fa fa-circle-o rounded rounded-circle s_features_grid_icon shadow" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>Internal - we guide you to coach</h5>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="fa rounded rounded-circle s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>Supervisory - you coach your staff</h5>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="fa rounded rounded-circle s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>
                                    <font color="#636363" face="Abadi MT Condensed Light, sans-serif" size="4">
                                      <span style="caret-color: rgb(99, 99, 99);">Executive / Management / Impact culture &amp; effectiveness</span>
                                    </font>
                                  </h5>
                                </div>
                              </div>
                              <div class="col-lg-12 pb16 pt0" data-name="Box">
                                <span class="fa rounded rounded-circle s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                <div class="s_features_grid_content">
                                  <h5>
                                    <span style="color: rgb(99, 99, 99); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 18px; line-height: 16.406665802001953px;">General / Employees / Impact general day to day effectiveness</span>
                                    <br/>
                                  </h5>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-5 p-0" style="float: right;">
                            <a href="#">
                              <section class="text-center">
                                <div class="t_img_hover_1" data-original-title="" title="" aria-describedby="tooltip280275">
                                  <img class="img mt16 t_img_height img-responsive img-fluid mx-auto" src="/web/image/964/Screenshot%202019-08-27%2021.46.17.png" data-original-title="" title="" aria-describedby="tooltip352634"/>
                                </div>
                              </section>
                            </a>
                          </div>
                        </div>
                      </div>
                    </section>
                    <div class="oe_structure">
                      <section class="s_banner parallax s_parallax_is_fixed oe_img_bg pt32 pb0" data-scroll-background-ratio="1" style="background-image: none;">
                        <span class="s_parallax_bg oe_img_bg oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/956/BGtry.png&quot;);"></span>
                        <span class="s_parallax_filter"></span>
                        <div class="container">
                          <div class="s_nb_column_fixed t_zoom_img_effect">
                            <div class="col-lg-7 jumbotron pt32 pb32" style="float: left;" data-name="Box">
                              <div class="row">
                                <div class="col-md-6 p-0 col-lg-12">
                                  <div class="col-lg-12 s_title s_col_no_bgcolor" data-name="Title" style="background-color: rgb(255, 255, 255);">
                                    <h3 class="MsoNormalCxSpFirst">
                                      <span style="color: rgb(31, 150, 210); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif;">SITUATION WHERE COACHIG IS USEFUL:</span>
                                    </h3>
                                  </div>
                                  <div class="col-lg-12 pt8 pb32 s_col_no_bgcolor" data-name="Text">
                                    <h4 style="margin-bottom: 2px;">
                                      Coaching is a process that aims to realize full potential:
                                      <br/>
                                    </h4>
                                  </div>
                                </div>
                                <div class="pb16 col-lg-12 pt0" data-name="Box">
                                  <span class="fa bg-primary s_features_grid_icon rounded-circle shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                  <div class="s_features_grid_content">
                                    <h5 style="margin-bottom: 0px; line-height: normal; border: transparent; padding-bottom: 4px;">
                                      <span style="line-height: 16.406665802001953px;">Perceived lack of knowledge, skill, confidence or resources</span>
                                    </h5>
                                  </div>
                                </div>
                                <div class="col-lg-12 pb16 pt0" data-name="Box">
                                  <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                  <div class="s_features_grid_content">
                                    <h5 style="margin-bottom: 0px; line-height: normal; border: transparent; padding-bottom: 4px;">
                                      <span style="line-height: 16.406665802001953px;">Individual desire for rigorous self appraisal and development&nbsp;</span>
                                    </h5>
                                  </div>
                                </div>
                                <div class="col-lg-12 pb16 pt0" data-name="Box">
                                  <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                  <div class="s_features_grid_content">
                                    <h5 style="margin-bottom: 0px; line-height: normal; border: transparent; padding-bottom: 4px;">
                                      <span style="line-height: 16.406665802001953px;">Lack of clarity where choices need to be made</span>
                                    </h5>
                                  </div>
                                </div>
                                <div class="col-lg-12 pb16 pt0" data-name="Box">
                                  <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                  <div class="s_features_grid_content">
                                    <h5 style="margin-bottom: 0px; line-height: normal; border: transparent; padding-bottom: 4px;">
                                      <span style="line-height: 16.406665802001953px;">Success seems to come at a price</span>
                                    </h5>
                                  </div>
                                </div>
                                <div class="col-lg-12 pb16 pt0" data-name="Box">
                                  <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);"></span>
                                  <div class="s_features_grid_content">
                                    <h5 style="margin-bottom: 0px; line-height: normal; border: transparent; padding-bottom: 4px;">
                                      Conflict in individual communication style
                                    </h5>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-5 p-0" style="float: right;">
                              <a href="#">
                                <section class="text-center">
                                  <div class="t_img_hover_1" data-original-title="" title="" aria-describedby="tooltip558459">
                                    <img class="img mt16 t_img_height img-responsive img-fluid mx-auto" src="/web/image/966/Screenshot%202019-08-27%2021.48.01.png" data-original-title="" title="" aria-describedby="tooltip414997"/>
                                  </div>
                                </section>
                              </a>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                    <section class="s_text_image pt24 pb8 bg-white oe_custom_bg" style="">
                      <div class="container">
                        <div class="row t_text_img_left_right t_zoom_img_effect aos-init align-items-center" data-aos="align-items-center">
                          <div class="col-lg-6 pb0 pt16 border shadow" style="background-color: rgb(31, 150, 210);">
                            <p class="t_title_text_2"></p>
                            <h3 class="mb16 t_sub_title_text_2">
                              <div style="caret-color: rgb(85, 85, 85); color: rgb(85, 85, 85); font-size: 14px; text-transform: none;">
                                <h3 class="MsoNormalCxSpFirst">
                                  <span style="color: rgb(238, 238, 238); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-weight: normal; line-height: 16.406665802001953px;">WHAT IS THE PROCESS FLOW?</span>
                                  <span style="font-weight: normal;"></span>
                                </h3>
                                <p style="font-weight: normal;"></p>
                              </div>
                            </h3>
                            <p class="MsoNormal" style="margin-bottom: 24pt; color: rgb(0, 0, 0); line-height: 31.5pt; font-weight: normal; text-transform: none; caret-color: rgb(0, 0, 0);"></p>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_features pt16 pb40 bg-white oe_custom_bg" style="">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-4 col-lg-4 text-center">
                            <h3>
                              <span class="d-block fa m-3 mx-auto rounded-circle shadow fa-search fa-2x" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);" data-original-title="" title="" aria-describedby="tooltip400602"></span>
                            </h3>
                            <div>
                              <p class="features_discreption mt8">
                                <span style="color: rgb(85, 85, 85); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 18px; line-height: 16.406665802001953px; text-align: start;">Engage coaching services – diagnostic tools, agreement, rules</span>
                                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                                <br/>
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-4 text-center">
                            <span class="d-block fa m-3 mx-auto rounded rounded-circle shadow fa-crosshairs fa-2x" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);" data-original-title="" title="" aria-describedby="tooltip128246"></span>
                            <div>
                              <p class="features_discreption mt8" style="text-align: center;">
                                <span style="color: rgb(85, 85, 85); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 18px; line-height: 16.406665802001953px; text-align: start;">Set specific objectives and measurements – consultation with stakeholders</span>
                                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                                <br/>
                              </p>
                            </div>
                          </div>
                          <div class="col-md-4 col-lg-4 text-center">
                            <span class="d-block fa m-3 mx-auto rounded rounded-circle shadow fa-spinner fa-2x" style="background-color: rgb(31, 150, 210); color: rgb(238, 238, 238);" data-original-title="" title="" aria-describedby="tooltip575585"></span>
                            <div>
                              <p class="features_discreption mt8">
                                <span style="color: rgb(85, 85, 85); font-family: &quot;Abadi MT Condensed Light&quot;, sans-serif; font-size: 18px; line-height: 16.406665802001953px; text-align: start;">Commence coaching – with the commitment to the processs established</span>
                                <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                                <br/>
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
                      <div class="container">
                        <div class="row">
                          <div class="col-lg-9 pb24">
                            <h3>
                              <b>
                                <font style="color: rgb(238, 238, 238);">DO YOU HAVE ANY INQUIRY?</font>
                              </b>
                            </h3>
                            <p class="lead">
                              <font style="color: rgb(238, 238, 238);">LET US HELP YOU WITH YOUR REQUIREMENTS</font>
                            </p>
                          </div>
                          <div class="col-lg-3 s_btn text-right pt8 pb24">
                            <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i> </a>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                
                              
                    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
                  </main>

                  {% endblock %}