{% extends 'base.html' %}
{% load static %}
{% block tittle %}Rex Home {% endblock %}

{% block main %} 
<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1668" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/743/Individual%20training%20program.png&quot;);">
  </section>
    <section class="py-5 t_space_style pt4 pb24">
  </section>
    <section class="s_text_image">
      <div class="container">
        <div class="row align-items-center">
          <div class="pt4 col-lg-4 offset-lg-1">
            <div class="t_img_hover_1">
              <img src="/web/image/745/Screenshot%202019-08-25%2020.15.56.png" class="img img-fluid mx-auto" alt="Odoo • Image and Text" data-original-title="" title="" aria-describedby="tooltip69273"/>
            </div>
          </div>
          <div class="pt16 pb16 col-lg-6">
            <h3 class="s_it_heading text-uppercase">
              <font style="" class="text-alpha">Individual training program</font>
            </h3>
            <div class="s_hr text-left pb32 pt8">
              <hr class="border-600 aos-init s_hr_solid w-25 mr-auto s_hr_4px border-alpha aos-animate" data-aos="s_hr_4px"/>
            </div>
            <p class="first-paragraph" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 24px;">
              <span style="line-height: 21px;">
                <font style="font-size: 14px;">Individualized Training Programs (ITPs) are concentrated, practical, one-to-one coaching sessions conducted for individuals who wish to receive the full-time attention of specialized and experienced subject matter experts.</font>
              </span>
            </p>
            <p></p>
            <p></p>
            <p class="first-paragraph" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 24px;">
              <span style="line-height: 21px;">
                <font style="font-size: 14px;">These ITPs are specifically designed to help individuals bridge specific competency gaps or acquire new skills in short periods of time, usually ranging between 1 and 5 days, depending on individual and organizational needs. The subjects covered in such ITPs are based on the specific needs of each participant and comprise briefings by pure visions subject matter experts, reviews of manuals, reports and other data, as well as supervised exercises and structured discussions. These ITPs can be conducted in English and/or Arabic.</font>
              </span>
            </p>
            <p></p>
            <p></p>
            <p class="first-paragraph" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 24px;">
              <span style="line-height: 21px;">
                <font style="font-size: 14px;">For more information about our experience in ITPs, write to us citing ITP in your email and a Partner-In-Charge will be in touch with you shortly after to explore your requirement and provide you with the answers and/or the proposal you require. We will then work with you to identify the ideal ITP methodology to help you achieve your desired development goals.</font>
                <font color="#333333" face="Roboto, serif">
                  <span style="caret-color: rgb(0, 0, 0); font-size: 10.5pt; background-color: white;"></span>
                </font>
              </span>
            </p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 t_space_style">
  </section>
    <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 pb24">
            <h3>
              <b>
                <font style="color: white;">DO YOU HAVE ANY INQUIRY?</font>
              </b>
            </h3>
            <p class="lead">
              <font style="color: white;">LET US HELP WITH YOUR REQUIREMENTS</font>
            </p>
          </div>
          <div class="col-lg-3 s_btn text-right pt8 pb24">
            <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i> </a>
          </div>
        </div>
      </div>
    </section>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>
  {% endblock %}