{% extends 'base.html' %}
{% load static %}
{% block tittle %}Rex Home {% endblock %}

{% block main %} 
<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1670" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="py-5 t_space_style pb128 pt128 oe_img_bg oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/739/ISO%20ROBOT.png&quot;);"> </section>
    <section class="s_text_image pt32 oe_custom_bg">
      <div class="container">
        <div class="row align-items-center aos-init" data-aos="align-items-center">
          <div class="col-lg-6 pb16 pt0">
            <h2 class="s_it_heading text-uppercase">
              <font style="color: rgb(30, 150, 211);">ISO ROBOT&nbsp;</font>
            </h2>
            <div class="s_hr text-left pb32 pt8">
              <hr class="border-600 s_hr_4px s_hr_solid w-25 mr-auto border-alpha" data_aos_ept="mr-auto"/>
            </div>
            <p class="mb16">
              <b>MANAGING MULTIPLE STANDARDS ARE EASY</b>
            </p>
            <p class="mb16"></p>
            <div>
              Lorem ipsum dolor sit amet, eam et reque justo quidam, audire
            </div>
            <div>
              ius no oblique phaedrum pertinacia. Ornatus referrentur nec dicam
            </div>
            <div>
              Lorem ipsum
            </div>
            <p></p>
            <p class="mb16 o_default_snippet_text"></p>
            <div>
              Lorem ipsum dolor sit amet, eam et reque justo quidam, audire
            </div>
            <div>
              ius no oblique phaedrum pertinacia. Ornatus referrentur nec dicam
            </div>
            <div>
              Lorem ipsum dolor sit amet, eam et reque justo quidam, audire persius.
            </div>
            <p></p>
          </div>
          <div class="col-lg-6 pt16 pb16">
            <div class="t_img_hover_1">
              <img src="/web/image/741/ISO%20Robot1.png" class="img img-fluid mx-auto" alt="Odoo • Text and Image"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 pb24">
            <h3>
              <b>
                <font style="color: rgb(255, 255, 255);">DO YOU HAVE ANY INQUIRY?</font>
              </b>
            </h3>
            <p class="lead">
              <font style="color: rgb(255, 255, 255);">LET US HELP YOU WITH YOUR REQUIREMENTS</font>
            </p>
          </div>
          <div class="col-lg-3 s_btn text-right pt8 pb24">
            <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text">CONTACT US&nbsp;<i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i></a>
          </div>
        </div>
      </div>
    </section>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>
  {% endblock %}