{% extends 'base.html' %}
{% load static %}
{% block tittle %}Rex Home {% endblock %}

{% block main %} 
<main>
                    
  <div id="wrap" class="oe_structure oe_empty" data-oe-model="ir.ui.view" data-oe-id="1662" data-oe-field="arch" data-oe-xpath="/t[1]/t[1]/div[1]">
    <section class="py-5 t_space_style oe_img_bg pt128 pb128 oe_custom_bg" style="background-image: url(&quot;http://35.176.166.207:8069/web/image/719/Outsourcing.png&quot;); background-position: 47.43% 38.95%;"> </section>
    <section class="py-5 t_space_style pt0 pb32"> </section>
    <div class="oe_structure"></div>
    <section class="s_text_image oe_custom_bg" style="">
      <div class="container">
        <div class="row t_text_img_left_right t_zoom_img_effect align-items-center aos-init" data-aos="align-items-center">
          <div class="offset-lg-1 col-lg-6">
            <h3 class="mb16 t_sub_title_text_2">
              <font style="" class="text-alpha">outsourcing solutions</font>
            </h3>
            <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; line-height: 22px;">
              <span style="line-height: 23px;">
                Pure Visions&nbsp;
              </span>
              <span style="line-height: 23px;">
                outsourcing solutions is a cost-effective way of ensuring that your company's intellectual resources are fully engaged in meeting the goals of your organization. With almost 40 years of experience centered solely on learning strategies and performance improvement, Pure Visions
                &nbsp;&nbsp;is adept at driving efficiencies into your training processes, reducing your training costs, boosting the effectiveness of your learning, and maximizing your infrastructure investment. Our world-class expertise, full-service capabilities and ISO 9000:2000 rating, helps us optimize the value and effectiveness of your organization's training by delivering a turnkey solution covering every phase of the training process:
                <font style="font-size: 18px;"><br/></font>
                <font style="font-size: 18px;"><br/></font>
              </span>
              <font color="#000000" face="Calibri, sans-serif">
                <span style="caret-color: rgb(0, 0, 0); font-size: 11pt;"> </span>
              </font>
            </p>
            <p></p>
            <font color="#000000" face="Calibri, sans-serif"> </font>
            <p></p>
          </div>
          <div class="t_img_right t_image_hidden t_img_emp col-lg-4">
            <div class="t_img_hover_1">
              <img src="/web/image/721/Screenshot%202019-08-30%2003.26.12.png" class="img img-fluid mx-auto" alt="Odoo • Text and Image" data-original-title="" title="" aria-describedby="tooltip761915"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s_features_grid pb24 pt24">
      <div class="container">
        <div class="row t_features_design">
          <div class="s_col_no_bgcolor pt0 col-lg-5 offset-lg-1">
            <div class="row t_features_design">
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Strategic Alignment And Planning&nbsp;</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Learning Design Or Procurement</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Solution Development&nbsp;</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Logistics</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal; text-align: justify;">Reporting</span>
                    <br/>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="s_col_no_bgcolor pt32 col-lg-5 offset-lg-1">
            <div class="row">
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Analysis</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Development Delivery&nbsp;</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Technical Integration&nbsp;</span>
                    <br/>
                  </h5>
                </div>
              </div>
              <div class="col-lg-12 pt16 pb16" data-name="Box">
                <span class="fa rounded-circle bg-primary s_features_grid_icon shadow fa-circle-o" style=""></span>
                <div class="s_features_grid_content">
                  <h5>
                    <span style="caret-color: rgb(137, 131, 131); color: rgb(137, 131, 131); font-size: 14px; font-weight: normal;">Administration</span>
                    <br/>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s_text_block oe_custom_bg" style="background-color: rgb(31, 150, 210);">
      <div class="container">
        <div class="row">
          <div class="pt32 pb32 col-lg-12">
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 22px;">
              <span style="line-height: 23px;">
                <font style="color: rgb(255, 255, 255);">There are no canned training outsourcing solutions at&nbsp;</font>
              </span>
              <span style="line-height: 23px;">
                <font style="color: rgb(255, 255, 255);">Pure Visions</font>
              </span>
              <span style="line-height: 23px;">
                <font style="color: rgb(255, 255, 255);">. Our expert consultants study your organization and strategically map your training needs, not only to the best practices you’d expect from a global leader in training, but also to the processes that will be most effective and efficient for your unique operational goals. The result is the best training outsourcing solution for your company-a solution that can change as your company's needs change. Whether you need consultation in a specialized discipline or an end-to-end training outsourcing solution,&nbsp;</font>
              </span>
              <span style="line-height: 23px;">
                <font style="color: rgb(255, 255, 255);">Pure Visions&nbsp;</font>
              </span>
              <span style="line-height: 23px;">
                <font style="color: rgb(255, 255, 255);">has the services and skills to get the job done:</font>
              </span>
              <font color="#000000" face="Calibri, sans-serif">
                <span style="caret-color: rgb(0, 0, 0); font-size: 11pt;"> </span>
              </font>
            </p>
            <p></p>
            <font color="#000000" face="Calibri, sans-serif"> </font>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <div class="oe_structure">
      <section class="oe_custom_bg pb32" style="background-color: rgb(31, 150, 210);">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 s_col_no_bgcolor text-center" data-name="Box">
              <section class="card rounded-5 t_pricing_box">
                <h5 class="card-header four_column_title rounded-0 bg-white">
                  <span style="text-align: start; line-height: 15.693333625793457px;">Learning Technology Management</span>
                  <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start; text-transform: none;"></span>
                  <br/>
                </h5>
                <ul class="list-group list-group-flush px-5 py-4">
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Needs Assessment&nbsp;<font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2"></font></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Evaluation &amp; Selection&nbsp;<font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2"></font></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Integration &amp; Customization&nbsp;</p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Hosting&nbsp;</p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;"> </p>
                    <p>
                      <span style="text-align: start; line-height: 14.266666412353516px;">Help Desk&nbsp;</span>
                      <font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2">
                        <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                        <br/>
                      </font>
                    </p>
                    <p></p>
                  </li>
                </ul>
              </section>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 s_col_no_bgcolor text-center" data-name="Box">
              <section class="card rounded-5 t_pricing_box pb16">
                <h5 class="card-header four_column_title rounded-0 bg-white">CURRICULUM MANAGEMENT</h5>
                <ul class="list-group list-group-flush px-5 py-4">
                  <li class="list-unstyled li_text py-3">
                    <span style="text-align: start; line-height: 14.266666412353516px;">Analysis, Design, &amp; Development&nbsp;</span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                    <br/>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Sourcing, Evaluation, and Selection&nbsp;<font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2"></font></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Vendor Management&nbsp;<font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2"></font></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <span style="text-align: start; line-height: 14.266666412353516px;">Course/Program Management&nbsp;</span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                    <br/>
                  </li>
                </ul>
              </section>
            </div>
            <div class="col-lg-3 col-md-6  col-sm-6 s_col_no_bgcolor text-center" data-name="Box">
              <section class="card rounded-5 t_pricing_box pb16">
                <h5 class="card-header four_column_title rounded-0 bg-white">OPERATION MANAGEMENT</h5>
                <ul class="list-group list-group-flush px-5 py-4">
                  <li class="list-unstyled li_text py-3">
                    <span style="text-align: start; line-height: 14.266666412353516px;">Training and Tuition Administration</span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                    <br/>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Logistics&nbsp;<font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2"></font></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Instructor Resource Management&nbsp;<span style="color: rgb(50, 62, 79); font-family: &quot;AdLib Win95BT&quot;, sans-serif; font-size: 10pt;"></span></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="li_text list-unstyled py-3">Delivery and Customer Support</li>
                </ul>
              </section>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 s_col_no_bgcolor text-center" data-name="Box">
              <section class="card rounded-5 t_pricing_box pb16">
                <h5 class="card-header four_column_title rounded-0  bg-white">MEASUREMENT &amp; REPORTING</h5>
                <ul class="list-group list-group-flush px-5 py-4">
                  <li class="list-unstyled li_text py-3">
                    <span style="text-align: start; line-height: 14.266666412353516px;">Learning Analytics</span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                    <br/>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <p class="Default" style="margin: 0cm 0cm 0.0001pt;">Activity, Financial, and Performance Reporting&nbsp;<font color="#323e4f" face="AdLib Win95BT, sans-serif" size="2"></font></p>
                    <p></p>
                    <p></p>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <span style="text-align: start; line-height: 14.266666412353516px;">Key Performance</span>
                    <br/>
                    <span style="text-align: start; line-height: 14.266666412353516px;">Indicators</span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                    <br/>
                  </li>
                  <li class="list-unstyled li_text py-3">
                    <span style="text-align: start; line-height: 14.266666412353516px;">Service Level </span>
                    <br/>
                    <span style="text-align: start; line-height: 14.266666412353516px;">Agreements&nbsp;</span>
                    <span style="caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0); font-family: -webkit-standard; font-size: medium; text-align: start;"></span>
                    <br/>
                  </li>
                </ul>
              </section>
            </div>
          </div>
        </div>
      </section>
      <section class="py-5 t_space_style pb16"> </section>
      <section>
        <div class="container">
          <div class="row s_nb_column_fixed">
            <div class="col-lg-12 s_title" style="text-align: center;">
              <h4 class="s_title_default t_title_default"></h4>
              <h3 class="MsoNormal" style="text-align: left; ">
                <b>
                  <span style="color: rgb(57, 132, 198); line-height: 25.68000030517578px;">National, Regional &amp; International Approvals, Accreditation, Cooperation &amp; Coordination Bodies</span>
                </b>
              </h3>
              <p></p>
              <b> </b>
              <p></p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="s_text_block">
      <div class="container">
        <div class="row">
          <div class="pt32 pb32 col-lg-12">
            <p style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 24px;">
              <span style="line-height: 21px;">
                <font style="font-size: 14px;">Pure Visions main target is the localization of advanced technologies associated with modern multi-discipline sciences like Knowledge Management (KM), Total Fluid Management (TFM), and Energy Management (EM).&nbsp;</font>
                <span style="caret-color: rgb(0, 0, 0); font-size: 10.5pt;"> </span>
              </span>
            </p>
            <p></p>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section class="s_text_block">
      <div class="container">
        <div class="row">
          <div class="pb32 col-lg-12 pt0">
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 22px;">
              <span style="line-height: 24px;"><font style="color: rgb(57, 132, 198);"><b>Consultancy &amp; Training</b></font>&nbsp;</span>
              <span style="line-height: 24px;">of&nbsp;Quality Management System (QMS) ISO 9001, Environmental Management System (EMS) ISO 14001, Safety Management System (SMS) ISO 45001, Food Safety Management Systems (FMS) ISO 22000, Information Security Management Systems (IMS) ISO 27001, Medical Devices ISO 13485 , For persons ISO/IEC 17024 (Crane Operator, Forklift Operator, Riggers, HAZMAT Drivers, Safety Specialists), Testing laboratories ISO/IEC 17025, ISO 15189 ,Calibration laboratory ISO/IEC 17025, Inspection body accreditation ISO/IEC 17020, Six Sigma ISO 13053, Management System for Records ISO 30301, Project Management ISO 21500, Event Sustainability Management System ISO 20121, Social Responsibility, Business Continuity Management System ISO 22301,&nbsp;Supply Chain Security Management System ISO 28000, Asset Management ISO 55001, Oil &amp; Gas – Quality Management ISO/TS 29001, Energy Management System ISO 50001, Road Traffic Safety Management ISO 39001.
              </span>
              <font color="#000000" face="Calibri, sans-serif">
                <span style="font-size: 11pt;"> </span>
              </font>
            </p>
            <p></p>
            <font color="#000000" face="Calibri, sans-serif"> </font>
            <p></p>
          </div>
          <div class="col-lg-12 pt0 pb32">
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 22px;"><font style="color: rgb(57, 132, 198);"><b>Medical Services Consultancy &amp; Training</b></font>&nbsp;for American Institute for Healthcare Management (AMIHM), National Association for Healthcare Quality (NAHQ), American Heart Association, American Health Information Management Association, Joint Commission International, The Saudi Central Board for Accreditation of Healthcare Institutions (CBAHI), Saudi Heart Association.
            </p>
            <p class="MsoNormal" style="margin: 0cm 0cm 0.0001pt; line-height: 22px;">
              
                </p>
            <p></p>
            <p></p>
            <p class="MsoNormal" style="text-align: justify; margin: 0cm 0cm 0.0001pt; line-height: 22px;">
              <span style="line-height: 24px;"><font style="color: rgb(57, 132, 198);"><b>International Testing &amp; Examination Center</b></font>&nbsp;</span>
              <span style="line-height: 24px;">for more than 1000 Credential Programs for Pearson Vue, KRYTEION, Comira and a lot of other recognized organizations.                  <font color="#000000" face="Calibri, sans-serif" size="3"><span style="caret-color: rgb(0, 0, 0);"> </span></font>
              </span>
            </p>
            <p></p>
            <font color="#000000" face="Calibri, sans-serif" size="3"> </font>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section class="s_three_columns oe_custom_bg pt32" style="background-color: rgb(31, 150, 210);">
      <div class="container">
        <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
          <div class="col-md-4 s_col_no_bgcolor ts_img_hvr col-lg-4">
            <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
              <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/723/Screenshot%202019-08-25%2021.48.42.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip81572"/>
            </div>
            <div class="card-body">
              <p class="card-title te_3_column_center_heading three_columns_heading">
                <font style="color: rgb(255, 255, 255);">technical development</font>
              </p>
              <p class="MsoNormal" style="text-align: center; margin-top: 5.25pt; margin-bottom: 5.25pt; margin-left: -18pt; line-height: normal; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Educational test rigs for thermo-fluid laboratories.</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="text-align: center; margin-top: 5.25pt; margin-bottom: 5.25pt; margin-left: -18pt; line-height: normal; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Total fluid management.</span>
              </p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="col-md-4 s_col_no_bgcolor ts_img_hvr col-lg-4">
            <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
              <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/725/Screenshot%202019-08-25%2021.49.21.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip786005"/>
            </div>
            <div class="card-body">
              <p class="card-title te_3_column_center_heading three_columns_heading">
                <font style="color: rgb(255, 255, 255);">feasability study</font>
              </p>
              <p class="MsoNormal" style="text-align: center; margin-top: 5.25pt; margin-bottom: 5.25pt; margin-left: -18pt; line-height: normal; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Educational private institutes for water and energy.</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="text-align: center; margin-top: 5.25pt; margin-bottom: 5.25pt; margin-left: -18pt; line-height: normal; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Production of water equipment’s.</span>
              </p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="col-md-4 s_col_no_bgcolor ts_img_hvr col-lg-4">
            <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
              <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/727/Screenshot%202019-08-25%2021.50.10.png" alt="Odoo - Sample 3 for three columns" data-original-title="" title="" aria-describedby="tooltip480053"/>
            </div>
            <div class="card-body">
              <p class="card-title te_3_column_center_heading three_columns_heading">
                <font style="color: rgb(255, 255, 255);">consultation</font>
              </p>
              <p class="MsoNormal" style="text-align: center; margin-top: 5.25pt; margin-bottom: 5.25pt; margin-left: -18pt; line-height: normal; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Industrial wastewater treatment.</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="text-align: center; margin-top: 5.25pt; margin-bottom: 5.25pt; margin-left: -18pt; line-height: normal; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">RO Water desalination plants.</span>
              </p>
              <p></p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="s_three_columns oe_custom_bg" style="background-color: rgb(31, 150, 210);">
      <div class="container">
        <div class="row d-flex align-items-stretch aos-init" data-aos="align-items-stretch">
          <div class="col-lg-4 col-md-4 s_col_no_bgcolor ts_img_hvr">
            <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
              <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/729/Screenshot%202019-08-25%2021.50.33.png" alt="Odoo - Sample 3 for three columns"/>
            </div>
            <div class="card-body">
              <p class="card-title te_3_column_center_heading three_columns_heading">
                <font style="color: rgb(255, 255, 255);">researches</font>
              </p>
              <p class="MsoNormal" style="text-align: center; margin: 5.25pt 0cm 5.25pt -18pt; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Prevention of surface water evaporation.</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="text-align: center; margin: 5.25pt 0cm 5.25pt -18pt; line-height: normal; font-size: 11pt; font-family: Calibri, sans-serif; caret-color: rgb(0, 0, 0); color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Renewable energy for water desalination.</span>
              </p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 s_col_no_bgcolor ts_img_hvr">
            <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
              <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/731/Screenshot%202019-08-25%2021.50.59.png" alt="Odoo - Sample 3 for three columns"/>
            </div>
            <div class="card-body">
              <p class="card-title te_3_column_center_heading three_columns_heading">
                <font style="color: rgb(255, 255, 255);">training program</font>
              </p>
              <p class="MsoNormal" style="margin: 5.25pt 0cm 5.25pt -18pt; font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; line-height: normal; text-align: center; caret-color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Soft Skills Training&nbsp;</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="margin: 5.25pt 0cm 5.25pt -18pt; font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; line-height: normal; text-align: center; caret-color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Technical Training&nbsp;</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="margin: 5.25pt 0cm 5.25pt -18pt; font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; line-height: normal; text-align: center; caret-color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Health &amp; Safety Training</span>
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 s_col_no_bgcolor ts_img_hvr">
            <div class="t_img_hover_overflow" style="background-color:#e9e9e9;">
              <img class="card-img-top img img-responsive feature_image zoom_image" src="/web/image/733/Screenshot%202019-08-25%2021.51.24.png" alt="Odoo - Sample 3 for three columns"/>
            </div>
            <div class="card-body">
              <p class="card-title te_3_column_center_heading three_columns_heading">
                <font style="color: rgb(255, 255, 255);">design &amp; supervision</font>
              </p>
              <p class="MsoNormal" style="margin: 5.25pt 0cm 5.25pt -18pt; font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; line-height: normal; text-align: center; caret-color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Pumping stations. Oily water treatment plants</span>
              </p>
              <p></p>
              <p></p>
              <p class="MsoNormal" style="margin: 5.25pt 0cm 5.25pt -18pt; font-size: 11pt; color: rgb(0, 0, 0); font-family: Calibri, sans-serif; line-height: normal; text-align: center; caret-color: rgb(0, 0, 0);">
                <span style="color: rgb(255, 255, 255); font-family: Helvetica; font-size: 10.5pt;">Water and wastewater treatment plants</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="oe_structure"></div>
    <section class="s_call_to_action pt48 pb24 oe_custom_bg" style="background-color: rgb(0, 49, 99);">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 pb24">
            <h3>
              <b>
                <font style="color: rgb(233, 233, 233);">DO YOU HAVE ANY INQUIRY?</font>
              </b>
            </h3>
            <p class="lead">
              <font style="color: rgb(233, 233, 233);">LET US HELP YOU WITH YOUR REQUIREMENTS</font>
            </p>
          </div>
          <div class="col-lg-3 s_btn text-right pt8 pb24">
            <a href="/contactus" class="btn btn-primary te_theme_button o_default_snippet_text"> CONTACT US <i class="fa fa-1x fa-fw fa-arrow-circle-right ml-1"></i> </a>
          </div>
        </div>
      </div>
    </section>
    <style class="WebKit-mso-list-quirks-style">
<!--
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{mso-style-unhide:no;
mso-style-qformat:yes;
mso-style-parent:"";
margin-top:0cm;
margin-right:0cm;
margin-bottom:8.0pt;
margin-left:0cm;
line-height:107%;
mso-pagination:widow-orphan;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:Arial;
mso-bidi-theme-font:minor-bidi;}
.MsoChpDefault
{mso-style-type:export-only;
mso-default-props:yes;
font-size:11.0pt;
mso-ansi-font-size:11.0pt;
mso-bidi-font-size:11.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:Arial;
mso-bidi-theme-font:minor-bidi;}
.MsoPapDefault
{mso-style-type:export-only;
margin-bottom:8.0pt;
line-height:107%;}
@page WordSection1
{size:612.0pt 792.0pt;
margin:72.0pt 72.0pt 72.0pt 72.0pt;
mso-header-margin:36.0pt;
mso-footer-margin:36.0pt;
mso-paper-source:0;}
div.WordSection1
{page:WordSection1;}
/* List Definitions */
@list l0
{mso-list-id:175385030;
mso-list-template-ids:1947889700;}
@list l0:level1
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:36.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Symbol;}
@list l0:level2
{mso-level-number-format:bullet;
mso-level-text:o;
mso-level-tab-stop:72.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:"Courier New";
mso-bidi-font-family:"Times New Roman";}
@list l0:level3
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:108.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}
@list l0:level4
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:144.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}
@list l0:level5
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:180.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}
@list l0:level6
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:216.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}
@list l0:level7
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:252.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}
@list l0:level8
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:288.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}
@list l0:level9
{mso-level-number-format:bullet;
mso-level-text:;
mso-level-tab-stop:324.0pt;
mso-level-number-position:left;
text-indent:-18.0pt;
mso-ansi-font-size:10.0pt;
font-family:Wingdings;}

-->
</style>
  </div>

              
    <div class="mask_cover" data-oe-id="1843" data-oe-xpath="/data/xpath/div" data-oe-model="ir.ui.view" data-oe-field="arch"></div>
  </main>

  {% endblock %}