<section id="search-section" class="search-section section-padding">
    <div class="container">
        l
        <div class="row">
            <div class="col-md-12 search-section-padding">
                <form action="https://www.meirc.com/search" method="get" class="search-area">
                    <div class="form-group no-margin">
                        <div class="col-md-3 no-padding">
                            <input type="text" class="form-control" id="header-auto-complete-input-2" name="pattern"
                                placeholder="Search for your Course" value="">
                            <div id="header-auto-complete-results-2" style="display: none;"></div>
                        </div>
                        <div class="col-md-2 no-padding">
                            <select class="form-control selectbox" name="category_id">
                                <option value="">
                                    Category </option>
                                <option value="1">
                                    Accounting and Finance </option>
                                <option value="2">
                                    Administration and Secretarial </option>
                                <option value="29">
                                    Auditing and Governance, Risk and Compliance </option>
                                <option value="21">
                                    Banking, Insurance and Financial Services </option>
                                <option value="3">
                                    Communication and Writing Skills </option>
                                <option value="18">
                                    Construction Management </option>
                                <option value="4">
                                    Contracts Management </option>
                                <option value="5">
                                    Customer Service </option>
                                <option value="31">
                                    Data Management and Business Intelligence </option>
                                <option value="32">
                                    Digital Innovation and Transformation </option>
                                <option value="23">
                                    Engineering and Instrumentation </option>
                                <option value="33">
                                    Hands-on Automation and Process Control </option>
                                <option value="16">
                                    Health, Safety and Environment </option>
                                <option value="20">
                                    Healthcare and Pharmaceutical Management </option>
                                <option value="6">
                                    Human Resources and Training </option>
                                <option value="8">
                                    Interpersonal Skills and Self Development </option>
                                <option value="7">
                                    IT Management </option>
                                <option value="9">
                                    Leadership and Management </option>
                                <option value="22">
                                    Legal </option>
                                <option value="11">
                                    Maintenance Planning and Asset Management </option>
                                <option value="10">
                                    Marketing and Sales </option>
                                <option value="26">
                                    Oil and Gas </option>
                                <option value="12">
                                    Planning and Strategy Management </option>
                                <option value="17">
                                    Procurement and Supply Chain Management </option>
                                <option value="13">
                                    Project Management </option>
                                <option value="14">
                                    Public Relations </option>
                                <option value="15">
                                    Quality and Productivity </option>
                                <option value="19">
                                    Security Management </option>
                                <option value="30">
                                    Transportation Management and Aviation </option>
                                <option value="25">
                                    Women Only Courses </option>
                            </select>
                        </div>
                        <div class="col-md-2 no-padding">
                            <select class="form-control selectbox" name="city_id">
                                <option value="">
                                    City </option>
                                <option value="1">
                                    Abu Dhabi </option>
                                <option value="26">
                                    Baku </option>
                                <option value="2">
                                    Barcelona </option>
                                <option value="12">
                                    Cairo </option>
                                <option value="4">
                                    Dubai </option>
                                <option value="5">
                                    Istanbul </option>
                                <option value="17">
                                    Jakarta </option>
                                <option value="6">
                                    Kuala Lumpur </option>
                                <option value="15">
                                    London </option>
                                <option value="10">
                                    Riyadh </option>
                                <option value="18">
                                    Vienna </option>
                            </select>
                        </div>
                        <div class="col-md-2 no-padding">
                            <select class="form-control selectbox" name="lang_id">
                                <option value="">
                                    Language </option>
                                <option value="2">
                                    Arabic </option>
                                <option value="1">
                                    English </option>
                            </select>
                        </div>
                        <div class="col-md-1 no-padding">
                            <select class="form-control selectbox" name="month">
                                <option value="">
                                    Month </option>
                                <option value="1">
                                    January </option>
                                <option value="2">
                                    February </option>
                                <option value="3">
                                    March </option>
                                <option value="4">
                                    April </option>
                                <option value="5">
                                    May </option>
                                <option value="6">
                                    June </option>
                                <option value="7">
                                    July </option>
                                <option value="8">
                                    August </option>
                                <option value="9">
                                    September </option>
                                <option value="10">
                                    October </option>
                                <option value="11">
                                    November </option>
                                <option value="12">
                                    December </option>
                            </select>
                        </div>
                        <div class="col-md-1 no-padding">
                            <select class="form-control selectbox" name="year">
                                <option value="">
                                    Year </option>
                                <option value="2020">
                                    2020 </option>
                            </select>
                        </div>
                        <div class="col-md-1 no-padding">
                            <input type="submit" class="btn btn-block btn-success" id="search-btn" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>